/* Imports section */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #DFE2D7;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 14px;
}

/* Header section */
.header__section {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 65px;
    background-color: rgba(99, 179, 62, 0.877);
    color: #fff;
}

.padding__h {
    padding: 0 20px;
}

.header__section .dropdown__list {
    display: block;
}

.dropdown__list select {
    display: block;
    width: 200px;
    height: 40px;
    border: none;
    outline: none;
}

.header__section .title__section h1 {
    font-family: 'Itim', cursive;
    text-transform: uppercase;
    font-size: 45px;
    -webkit-text-stroke: 0.2px rgb(0, 26, 255);
}

.header__section .search__bar {
    display: flex;
}

.search__bar input {
    display: block;
    height: 40px;
    width: 200px;
    border: none;
    text-align: center;
    outline: none;
}

.search__bar button {
    display: block;
    height: 40px;
    width: 80px;
    border: none;
    cursor: pointer;
    background-color: rgb(81, 187, 152);
    margin-left: 5px;
}

.search__bar button:hover {
    background-color: rgb(63, 158, 126);
}
/* Header section */

/* Main section */
.main__section {
    height: 80vh;
    background-color: #fff;
    /* box-shadow: 1px 4px 4px 4px rgb(226, 226, 226); */
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
}

.margin {
    margin: 60px 40px;
}

.padding {
    padding: 20px;
}

.main__section section {
    padding: 40px;
    border: 2px solid black;
}

section .main__title {
    text-align: center;
}

.col__container {
    display: flex;
    align-items: center;
    height: auto;
    width: 800px;
    /* background-color: #DFE2D7;justify-content: center; */
}

.right__row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    max-height: 200px;
}

.right__row p {
    margin-left: 20px;
}

/* .col__container .margin__le {
    margin-left: 40px;
} */

.right__row img {
    display: block;
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
/* Main section */

/* Footer section */
.footer__section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: rgba(99, 179, 62, 0.877);
}

.center__content p {
    color: #fff;
}